<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    welcome to chat page
    <form action="rooms" method="GET">
        <label for="rooms">Choose a room:</label>
        <select name="rooms" id="rooms">
          <option value="room1">room1</option>
          <option value="room2">room2</option>
          <option value="room3">room3</option>
          <option value="room4">room4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>